/* CSS variables */
:root {
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --heading-color: #1b0760;
    --text-color: #918ca4;
    --white-text: #fff;
}

*, *::after, *::before {
    box-sizing: border-box;
}

::selection {
    background-color: var(--accent-color);
    color: var(--white-text);
}

/* Typography */
html {
    /*62.5% of 16px = 1.6rem*/
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--heading-color);
    margin-bottom: 0.8rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */
a:link {
    text-decoration: none;
}

.link-arrow {
    color: var(--accent-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.5s ease;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */
.badge {
    font-size: 2rem;
    background: grey;
    color: var(--white-text);
    padding: 0.5rem 2rem;
    border-radius: 20px;
    white-space: nowrap;
    font-weight: 600;
}

.badge-primary {
    background: var(--primary-color);
}

.badge-secondary {
    background: var(--secondary-color);
}

.badge-small {
    font-size: 1.6rem;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge-small {
        font-size: 1.2rem;
    }
}