/* CSS variables */
:root {
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --dark-accent-color: #dd3c14fd;
    --heading-color: #1b0760;
    --text-color: #918ca4;
}

*, *::after, *::before {
    box-sizing: border-box;
}

::selection {
    background-color: var(--accent-color);
    color: #fff;
}

/* Typography */
html {
    /*62.5% of 16px = 1.6rem*/
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--heading-color);
    margin-bottom: 0.8rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */
a:link {
    text-decoration: none;
}

.link-arrow {
    color: var(--accent-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.5s ease;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */
.badge {
    font-size: 2rem;
    background: grey;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    white-space: nowrap;
    font-weight: 600;
}

.badge-primary {
    background: var(--primary-color);
}

.badge-secondary {
    background: var(--secondary-color);
}

.badge-small {
    font-size: 1.6rem;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge-small {
        font-size: 1.2rem;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--heading-color);
}

.list-inline li {
    display: inline-block;
    margin-right: 2rem;
}

.list-tick {
    list-style-image: url(../images/tick.svg);
    margin-left: 3rem;
}

.list-tick li {
    margin-right: 5px;
    margin-bottom: 1rem;
}

/* icons */

/*FIXME: for security reasons svg sprite cannot display using the normal path
in the browser, use a localhost server for them to display*/
.icon { 
  width: 1rem; 
  height: 1rem;
}

.icon-primary {
    fill: var(--primary-color);
}

.icon-container {
    background-color: #f3f9fa;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    border-radius: 100%;
}

/* Buttons */
.btn {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 40px;
    padding: 1rem 5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    white-space: nowrap;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 1rem 0;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-primary:hover {
    background: #2c76d6;
}

.btn-secondary {
    background: var(--secondary-color);
    color: #fff;
}

.btn-secondary:hover {
    background: #0bc3e4;
}

.btn-accent {
    background: var(--accent-color);
    color: #fff;
}

.btn-accent:hover {
    background: rgb(235, 56, 11)0;
}

.btn-outline {
    color: var(--heading-color);
    background: none;
    border: 2px solid var(--heading-color);
}

.btn-outline:hover {
    background: var(--heading-color);
    color: #fff;
}

.btn-block {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* Inputs */
.input {
    border-radius: 40px;
    outline: none;
    padding: 1.5rem 3.5rem;
    border: 1px solid #ccc;
    color: var(--heading-color);
    font-size: 1.7rem;
}

::placeholder {
    opacity: 0.4;
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }
}

/* define input-group */
.input-group {
    display: flex;
    border-radius: 40px;
    border: 1px solid #ccc;
    padding: 0.2rem;
}

.input-group .input {
    border: none;
    flex-grow: 1;
}

.input-group .btn {
    margin: 0;
    padding: 1.8rem 3rem;
}