<!--Basic card component-->
<div class="card card-heading">
    <div class="card-header">
        <p>Card Title</p>
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolorem.</p>
        <a href="#" class="btn btn-block btn-outline">Buy Now</a>
    </div>
</div>

<!--plan component-->
<div class="plan">
    <div class="card card-secondary plan-popular">
        <header class="card-header">
            <h3 class="plan-title">Entry</h3>
            <p class="plan-billing"><span class="plan-price">$14</span> /month</p>
            <span class="badge badge-secondary badge-small">10% off</span>
            <p class="description">Easy start on the cloud</p>
        </header>
        <div class="card-body">
            <ul class="list list-tick">
                <li>Unlimited Websites</li>
                <li>Unlimited Bandwidth</li>
                <li>100 GB SSD Storage</li>
                <li>3 GB RAM</li>
            </ul>
            <a href="#" class="btn btn-block btn-outline">Buy Now</a>
        </div>
    </div>
</div>