<footer class="block block-dark footer">
    <div class="grid footer-grid container">
        <section class="collapsible collapsible-expanded">
            <header class="collapsible-header">
                <h3 class="collapsible-heading footer-heading">Products</h3>
                <i class="fa-solid fa-chevron-down icon-black collapsible-chev"></i>
            </header>
            <div class="collapsible-content">
                <ul class="list">
                    <li><a href="#">WordPress Hosting</a></li>
                    <li><a href="#">Free Automated WordPress</a></li>
                    <li><a href="#">Migrations</a></li>
                    <li><a href="#">Domain Names</a></li>
                    <li><a href="#">Monthly Web Hosting</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible collapsible-expanded">
            <header class="collapsible-header">
                <h3 class="collapsible-heading footer-heading">Company</h3>
                <i class="fa-solid fa-chevron-down icon-black collapsible-chev"></i>
            </header>
            <div class="collapsible-content">
                <ul class="list">
                    <li><a href="#">WordPress Hosting</a></li>
                    <li><a href="#">Free Automated WordPress</a></li>
                    <li><a href="#">Migrations</a></li>
                    <li><a href="#">Domain Names</a></li>
                    <li><a href="#">Monthly Web Hosting</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible collapsible-expanded">
            <header class="collapsible-header">
                <h3 class="collapsible-heading footer-heading">Support</h3>
                <i class="fa-solid fa-chevron-down icon-black collapsible-chev"></i>
            </header>
            <div class="collapsible-content">
                <ul class="list">
                    <li><a href="#">WordPress Hosting</a></li>
                    <li><a href="#">Free Automated WordPress</a></li>
                    <li><a href="#">Migrations</a></li>
                    <li><a href="#">Domain Names</a></li>
                    <li><a href="#">Monthly Web Hosting</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible collapsible-expanded">
            <header class="collapsible-header">
                <h3 class="collapsible-heading footer-heading">Domains</h3>
                <i class="fa-solid fa-chevron-down icon-black collapsible-chev"></i>
            </header>
            <div class="collapsible-content">
                <ul class="list">
                    <li><a href="#">WordPress Hosting</a></li>
                    <li><a href="#">Free Automated WordPress</a></li>
                    <li><a href="#">Migrations</a></li>
                    <li><a href="#">Domain Names</a></li>
                    <li><a href="#">Monthly Web Hosting</a></li>
                </ul>
            </div>
        </section>
        <section class="footer-brand">
            <img src="images/logo.svg" alt="website logo, Moshify">
            <p class="footer-copyright">Copyright &copy; 2023 Govan Dibotelo</p>
        </section>
    </div>
</footer>
<script src="js/main.js"></script>