<div class="media">
    <div class="media-image">
        <svg class="icon icon-primary">
            <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
    </div>
    <div class="media-body">
        <h3 class="media-title">Easy start, & managed Updates </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sint autem eaque ducimus debitis, amet
            provident nemo. Ea, facere quam labore non assumenda distinctio nihil perferendis nostrum rerum mollitia
            cumque!</p>
    </div>
</div>